.mainpage__container {
    height: 6500px;
    background-color: #EFF2F5;
}
.imageLayout__container {
    display: flex;
    margin: 15px;
}
.imageLayout__img {
    max-height: 35px;
    max-width: 35px;
}
.imageLayout__text {
    font-weight: 500;
    margin: 10px;
    font-size: 14px;
}
.middle_Container {
    margin-left: 50px !important;
    overflow-y: scroll;
    height: 1000px;
    max-width: 600px !important;
}